@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 .container {
      max-width: 600px;
      margin: 50px auto;
      padding-top: 30px;
      background-color: #A1ADBC;
      border-radius: 5px;
      box-shadow: 0 2px 5px #001C45;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .container h2 {
      color: #001C45;
      text-align: center;
    }
    .naav{
        margin-left: 35%;
        }
        .naav ul{
        display: block;
        text-align: center;
        
        }
        a{
        text-decoration: none;
      color: #A1ADBC;
        }
        
        .naav li{
        list-style-type: none;
        display: inline;
        font-size: 1.0em;
        font-weight: 499;
        padding-left: 20px;
        }
        li a:hover {
        color:  rgb(168, 0, 76);
        transition: 2s ease-out;
        
        }
        
        image{
        float: left;
        
        }
        header{
        width: 100%;
        background-color:#001C45;
        position: fixed;
        z-index: 999;
        display: flex;
        align-items: center;
        padding: 10px 200px; 
        
        }
        .logo{
        margin-left: 0%;
        text-shadow: 2px 1px #000206;
        text-decoration: none;
        color: #A1ADBC;
        text-transform:capitalize;
        font-weight: 700;
        font-size: 1.6em;
        }
        
   #he{
      color: #001C45;
      text-align: left;
    }

    .container input[type="text"],
    .container input[type="email"],
    .container input[type="tel"],
    .container textarea,
    .container input[type="submit"] {
       background-color: #A1ADBC;
      width: 100%;
      padding: 10px 15px;
      margin-bottom: 15px;
      border: none;
      border-radius: 3px;
      box-sizing: border-box;
      font-size: 16px;
       text-align: center;
    }

    .container input[type="submit"] {
      background-color: #001C45;
      color: #A1ADBC;
      cursor: pointer;
    }

    .container input[type="submit"]:hover {
      background-color: #001C45;
    }

    ::placeholder {
      color: #2A384F;
      opacity: 0.7;
    }
  
    div.join{
        display: inline;
       
        width: 100%;
        height: 90px;
        margin-top: 6%;
        margin-bottom: 0%;
        padding: 30px;
        text-align: center;
        border-radius:none;
        content: "";
        clear: both;
        display: table;
      }
      li{
        display: inline;
        list-style-type: none;
        
      }
      .join a{
        color:#A1ADBC;
        font-size: 1.7em;
        padding-right: 30px; 
         
      }
      
      .join a:hover {
        color: rgb(168, 0, 76);
      }


      @media  screen and (max-width:1023px) {
        header{
          padding: 3px 7px;
        }
        .naav li{
          padding-left: 3px;
        }
        .naav{
          margin-left: 5%;
          }
  .container {
    max-width: 600px;
    margin-top: 69%;
    margin: 0 auto;
    padding-top: 19px;
  }
  
 
  #header {
    font-size: 3em;
  }
}

div.join{
    margin-top: 19%;
    margin-bottom: 0%;
   }
  
  @media (max-width:641px){
    body{
        font-size: 9px;
       }
      
 }
 @media  screen and (max-width:767px){
 
 }